<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome!</title>


    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type = "text/javascript" src = "/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type = "text/javascript" src = "/assets/scripts/controllers.js"></script>
    <script type = "text/javascript" src = "/assets/scripts/factories.js"></script>

</head>
<body ng-app="myApp">
    <div class="instructions" ng-controller="UserController">
        <div class="container">
            <h1 id="welcome" class="lead">Welcome, {{userName}}!</h1>
        </div>
    </div>
    <div>
      <ul>
            <li><a href="#addEx">add ex</a></li>
            <li><a href="#addExType">add ex type</a></li>

        </ul>
        <main ng-view>

        </main>

    </div>
</body>
</html>
