<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
    <div class="instructions">
    <div class="fails">
        <h1 class="lead">Failed</h1>
    </div>
    <div class="failto">
        <h1 class="lead">to</h1>
    </div>
    <div class="faillogin">
        <h1 class="lead">login.</h1>
    </div>
    <div class="doGym">
        <h1 class="lead">Go to the gym.</h1>
    </div>


    </div>
    <p class="backin"><a href="/">Back to login</a></p>
</body>
</html>
