<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome!</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/rzslider.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">


    <!-- <link rel="stylesheet" type="text/css" href="../node_modules/demo/dist/ng-slider.min.css">
    <script type="text/javascript" src="../node_modules/demo/dist/ng-slider.min.js"></script> -->

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/rzslider.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
</head>
<body ng-app="myApp">
    <div class="instructions" ng-controller="UserController">
        <ul class="sideItems">
          <li><a href = "#user">Home</a></li>
          <li><a href = "#doExercise">Do Exercise</a></li>
          <li><a href = "#createExType">Create Exercise Type</a></li>
          <li><a href = "#compare">Compare Old Ex></a></li>
        </ul>
    </div>
    <main ng-view>

    </main>
</body>
</html>
