<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome!</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/styles/rzslider.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js" type="text/javascript"></script>
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/rzslider.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
</head>
<body class="backgrounderUser" ng-app="myApp">
    <div class="instructions" ng-controller="UserController">
        <ul class="sideItems">
          <li><a href = "#doExercise">Do Exercise</a></li>
          <li><a href = "#createExType">Create Exercise Type</a></li>
          <li><a href = "#compareEx">Compare Old Ex</a></li>
        </ul>
    </div>
    <h1 class="dataFit">dataFit</h1>
    <h2 class="facts">facts,</h2>
    <h2 class="notTheory">not theory.</h2>
    <main class="boxin" ng-view>

    </main>
</body>
</html>
